body {
  background-color: #ccc;
}

h2 {
  margin: 30px;

  font-size: 20px;
  font-weight: 700;
  color: gray;
  text-align: center;
  text-shadow: 2px 2px #f8e4ff;
}

.cont-select {
  width: 300px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

.cont-select .btn-select {
  padding: 13px 14px;
  width: 200px;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  /* box-sizing: border-box; */
}

.cont-select .btn-select::after {
  margin-top: 4px;
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  float: right;
  background-image: url(image/btn_drop_down.png);
  background-repeat: no-repeat;
}

.cont-select .btn-select.on {
  outline: 3px solid #f8e4ff;
  border: 1px solid #9b51e0;
}

.cont-select .btn-select.on::after {
  background-image: url(image/btn_drop_up.png);
}

.cont-select .btn-select.on + .list-member {
  display: block;
}

.cont-select .list-member {
  display: none;
  width: 200px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  /* padding: 0 8px; */
  margin-top: 9px;
}

.cont-select .list-member li {
  margin: 5px 8px;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
}

.cont-select .list-member button {
  padding: 12px 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.cont-select .list-member li:hover {
  background: #f8e4ff;
  border-radius: 8px;
}
